<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/848249e791.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles_login.css">
    <title>Editar producto</title>
</head>
<body>
    <div class="back-button">
        <a type="link" href="/" id="back-arrow"><i class="fa-solid fa-arrow-left"></i> Inicio </a>
    </div>
    <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" class="formulario" enctype="multipart/form-data">
        
        <h1>Editar Producto</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fa-solid fa-book icon"></i>
                <input type="text" name="nombre" placeholder="Título del libro" value="<%= productToEdit.titulo %>">
                <% if (locals.errors && locals.errors.titulo) { %>
                    <p class="feedback"><%= locals.errors.titulo.msg %></p>
                <% } %>
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-user-tie icon"></i>
                <input type="text" name="autor" placeholder="Autor" value="<%= productToEdit.autor.nombre %>">
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-book icon"></i>
                <input type="text" name="descripcion" placeholder="Descripción del libro" value="<%= productToEdit.descripcion %>">
                <% if (locals.errors && locals.errors.descripcion) { %>
                    <p class="feedback"><%= locals.errors.descripcion.msg %></p>
                <% } %>
            </div>
            <!-- <div class="input-contenedor">
                <i class="fa-solid fa-industry icon"></i>
                <input type="text" name="editorial" placeholder="Editorial" value="<%= productToEdit.editorial %>">
            </div> -->
            <!-- <div class="input-contenedor">
                <i class="fa-solid fa-book-open icon"></i>
                <input type="number" name="numberPages" placeholder="Cantidad de páginas" value="<%= productToEdit.numberPages %>">
            </div> -->

            <div class="input-contenedor">
                <i class="fa-solid fa-masks-theater icon"></i>
                <label for="genero" id="genero">Seleccionar género:</label>
                <select name="genero" id="gender">
                    
                    <% genders.forEach(gender => { %>
                        
                    <option <% if (productToEdit.genero.nombre == gender.value) { %>
                        <%= 'selected' %><% }; %> value="<%= gender.value %>"><%= gender.label %></option>
                    <% }); %>
                </select>

             

            </div>

            <div class="input-contenedor">
                <i class="fa-solid fa-dollar-sign icon"></i>
                <input type="number" name="price" placeholder="Precio de venta" value="<%= productToEdit.precio %>">
            </div>
            <label>Seleccione imagen de portada:</label>
            
            <div class="input-contenedor">
                <input type="file" name="image" accept=".jpg, .png, .jpeg">
            </div>

            <input type="submit" value="Editar" class="button">
            <br>
        
        </div>
    </form>
</body>
</html>
