<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libros Libres</title>
  <link rel="stylesheet" href="css/home.css">
  <script src="https://kit.fontawesome.com/25a3935e62.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- HEADER MOBILE -->
  <%- include('partials/header') %>


  <main>
    <div class="carrusel">
      <div class="contenedor-carrusel">
        <div class="slide" id="primera-slide">
          <img src="images/banner1.webp">
          <div class="flechas">
            <a href="#tercera-slide"><</a>
            <a href="#segunda-slide">></a>
          </div>
        </div>
        <div class="slide" id="segunda-slide">
          <img src="images/banner2.webp">
          <div class="flechas">
            <a href="#primera-slide"><</a>
            <a href="#tercera-slide">></a>
          </div>
        </div>
        <div class="slide" id="tercera-slide">
          <img src="images/banner3.jpg">
          <div class="flechas">
            <a href="#segunda-slide"><</a>
            <a href="#primera-slide">></a>
          </div>
        </div>
      </div>
    </div>

    <h2>Destacados</h2>
   
    <section class="destacados">
       <% products.forEach(product => { %>
      <article class="card">
          <a href="/products/<%= product.id %>">
            <img src="<%= product.image %>">
            <div class="info-card">
              <h4><%= product.name %></h4>
              <p>$<%= product.price %></p>
              <button class="btn">Añadir al carrito  <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
          </a>
        </article>
  <% }) %>
    </section>

    <h2>Ultimas publicaciones</h2>
<section class="destacados">
       <% products.forEach(product => { %>
      <article class="card">
          <a href="/products/<%= product.id %>">
            <img src="<%= product.image %>">
            <div class="info-card">
              <h4><%= product.name %></h4>
              <p>$<%= product.price %></p>
              <button class="btn">Añadir al carrito  <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
          </a>
        </article>
  <% }) %>
    </section>

  </main>
  <%- include('partials/footer') %>
</body>

</html>